.header__lang-link {
  font-weight: normal;
  margin: 18px 0 6px 18px;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    list-style: 20px;
    margin: 14px 0 8px 18px;
  }
}
