.place__image {
  width: 460px;

}
@media screen and (max-width: 1180px) {
  .place__image {
    width: 440px;
  }
}
@media screen and (max-width: 1000px) {
  .place__image {
    width: 340px;
  }
}
@media screen and (max-width: 767px) {
  .place__image {
    width: 320px;
  }
}
