.header__logo {
  width: 176px;
  background-image: url(../../../images/__logo.svg);
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    max-height: 42px;
    background-image: url(../../../images/__logo320.svg);
  }
}
