.cover {
  width: 1184px;
  margin: 92px auto;
  border: 1px solid yellow;
}
@media screen and (max-width: 1183px) {
  .cover {
    width: 1024px;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    width: 768px;
    margin: 90px auto 88px;
  }
}
@media screen and (max-width: 767px) {
  .cover {
    width: 320px;
    margin: 66px auto 64px;
  }
}
