.cover {
  width: 1184px;
  height: 60%;
  margin: 92px auto;
}
@media screen and (max-width: 1185px) {
  .cover {
    width: 100vw;
  }
}
@media screen and (max-width: 1025px) {
  .cover {
    margin: 90px auto 88px;
  }
}
@media screen and (max-width: 767px) {
  .cover {
    width: 320px;
    margin: 66px auto 64px;
  }
}
