.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 40px 48px;
}
@media screen and (max-width: 1180px) {
  .place {
    gap: 32px 48px;
  }
}
@media screen and (max-width: 1000px) {
  .place {
    gap: 28px 48px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    gap: 32px;
  }
}
